{% extends "layout.html" %}
{% block body %}
<div class="container flex  flex-col space-y-16 bg-base-200 p-4 rounded-md items-center ">


    <!--Navbar-->



    <div class="container flex bg-base-200 p-4 justify-center  rounded-lg w-64 h-20 ">

        <ul class="menu menu-horizontal bg-base-200 rounded-box space-x-4">

            <li>
                <a class="tooltip" data-tip="Editor" href="/editor">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
                    </svg>
                </a>
            </li>

            <li>
                <a class="tooltip" data-tip="Home" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                    </svg>
                </a>
            </li>

            <li class="border solid border-gray-400 rounded-lg">
                <a class="tooltip" data-tip="About">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </a>
            </li>


        </ul>
    </div>

    <!--hero-->
    <div class="container flex flex-col space-y-14 items-center">


        <h1 class="text-3xl font-bold">About Me</h1>



        <div>
            <div class=" card card-side bg-base-100 shadow-xl max-lg:flex max-lg:flex-col max-lg:space-y-8 max-lg:pt-10">
                <figure><img src="{{ url_for('static', filename='images/avataar.png') }}" alt="img" class="h-56 max-lg:h-40 max-lg:w-40" />
                </figure>
                <div class="card-body max-w-md max-lg:flex max-lg:items-center">
                    <h2 class="card-title">Hi, my name is Saurav Dhait</h2>
                    <br>
                    <p class="max-lg:text-center"> I’m a casual web developer currently pursuing my undergraduate degree.
                        I’m always open to meeting new people and learning more about web development.
                        If you’d like to get in touch, you can find me on LinkedIn or GitHub.
                        Thanks for taking the time to read a little bit about me! </p>

                    <br>

                    <div class="flex justify-start space-x-8 max-lg:justify-center">
                        <div class="card-actions ">
                            <a href="https://github.com/saurav-dhait" target="_blank">
                                <button class="btn btn-outline btn-secondary">GitHub</button>
                            </a>
                        </div>
                        <div class="card-actions ">
                            <a href="https://www.linkedin.com/in/saurav-dhait-623771292/" target="_blank">
                                <button class="btn btn-outline btn-info">LinkedIn</button>
                            </a>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <!--project header-->
    <div class="container flex justify-center">
        <h1 class="text-3xl font-bold text-center">About this project </h1>

    </div>

    <!--project detail cards-->
    <div class="flex  xl:space-x-10  max-xl:flex-col max-xl:space-y-16 max-xl:items-center">

        <div class="card w-80 bg-base-100 shadow-xl">
            <figure class="px-10 pt-10">
                <img src="{{ url_for('static', filename='images/daisy_logo.png') }}" alt="Shoes" class="rounded-xl" />
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">DaisyUI</h2>
                <p>The Frontend for this project is made using Tailwind and DaisyUI style system.</p>
                <br>
                <div class="card-actions">
                    <a href="https://daisyui.com/" target="_blank">
                        <button class="btn btn-outline btn-accent">Official Website</button>
                    </a>
                </div>

            </div>
        </div>

        <div class="card w-80 bg-base-100 shadow-xl">
            <figure class="px-10 pt-10">
                <img src="{{ url_for('static', filename='images/flask_logo.png') }}" alt="Shoes" class="rounded-xl" />
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">Flask</h2>
                <p>The backend for this project is made using python and flask framework. </p>
                <br>
                <div class="card-actions">
                    <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">
                        <button class="btn btn-outline">Official Website</button>
                    </a>
                </div>

            </div>
        </div>

        <div class="card w-80 bg-base-100 shadow-xl">
            <figure class="px-10 pt-9">
                <img src="{{ url_for('static', filename='images/code_mirror.png') }}" alt="Shoes" class="rounded-xl" />
            </figure>
            <div class="card-body items-center text-center">
                <h2 class="card-title">Code Mirror</h2>
                <p>The code editor used is code mirror. It provides many good features out of the box.</p>
                <br>
                <div class="card-actions">
                    <a href="https://codemirror.net/" target="_blank">
                        <button class="btn btn-outline btn-error">Official Website</button>
                    </a>
                </div>

            </div>
        </div>




    </div>

</div>
<br>
<br>
<br>
{% endblock %}